<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tecnogo - Generación de formulario de atributos</title>

    <meta property="og:image" content="https://www.tecnogo.com/wp-content/uploads/2019/03/tecnogo-logo.png"/>

    <link rel="shortcut icon" href="https://www.tecnogo.com/wp-content/uploads/2019/03/favicon-32x32-1.png"
          type="image/x-icon"/>
    <link rel="apple-touch-icon" href="https://www.tecnogo.com/wp-content/uploads/2019/03/apple-icon-57x57-1.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="https://www.tecnogo.com/wp-content/uploads/2019/03/apple-icon-114x114-1.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-light" style="position: relative;">
<div class="container-fluid">
    <div class="row">
        <div class="col py-5 text-center">
            <a href="https://www.tecnogo.com/" target="_blank">
                <img class="mb-4" src="https://avatars1.githubusercontent.com/u/49149236" alt=""
                     width="72"
                     height="72"
                     title="Tecnogo"
                />
            </a>

            <h2>Generación de formularios de atributos de categoría de Mercadolibre</h2>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
